@keyframes shapesAnim {
  0% {
    transform: translateY(0px) scaleY(1) translateZ(0.01px);
  }
  100% {
    transform: translateY(100px) scaleY(1.03) translateZ(0.01px);
  }
}
@keyframes fadeinFromBottom {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
