@keyframes shapesAnim {
  0% {
    transform: translateY(0px) rotateY(0deg);
  }
  100% {
    transform: translateY(100px) rotateY(5deg);
  }
}
@keyframes fadeinFromBottom {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
