$purple-0: #7a4b84;
$purple-1: #885992;
$purple-2: #9667a0;
$purple-3: #a375ad;
$purple-4: #b085b9;
$purple-5: #bc95c4;
$purple-6: #c79ecf;
$purple-7: #d1a7d9;
$purple-8: #dab2e2;
$purple-9: #e3beea;
$purple-10: #eacbf1;
$contentbgbasergb: rgb(255, 255, 255);
$contentbg: rgba($contentbgbasergb, 0.536);
$contentbg170: rgba($contentbgbasergb, 0.67);
// 色聞く
$txtboxOrange: #feee9ca5;
