$darkpurple: #5e3078;
$lightpurple: #bc95c4;
$contentbgbasergb: rgb(255, 255, 255);
$contentbg: rgba($contentbgbasergb, 0.536);
$contentbg170: rgba($contentbgbasergb, 0.67);
// 色聞く
$txtboxOrange: #f4e8beb3;
