@import "../style.scss";

@include sp {
  .zoomNagona {
    margin: 1rem 0;
    img {
      background-color: $contentbg;
      border-radius: 20px;
      padding: 1rem;
    }
  }
}

.zoomNagona:hover,
.zoomWorksPoster:hover,
.zoomWorksCharacter:hover,
.zoomWorksIllust:hover,
.zoomGoods:hover {
  transform: scale(1.05);
}
.zoomNagona,
.zoomWorksPoster,
.zoomWorksCharacter,
.zoomWorksIllust,
.zoomGoods {
  transition: transform 80ms ease-in-out 0ms;
  transform: scale(1);
}
