@import "../style.scss";
#wrapper {
  text-align: center;
  background-image: url(../../media/index_bgMainNew.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
}
#wrapper {
  background-image: url(../../media/index_bgMainNew.png);
  background-image: linear-gradient(180deg, #cc80cc, #817ed3);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
}
#content {
  max-height: calc(100vh - 70px);
  height: calc(100vh - 70px);
  overflow-y: scroll;
  background-color: $contentbg;
  backdrop-filter: blur(6px);
  background-attachment: fixed;
  z-index: 30;
  max-height: calc(100vh - 65px);
  position: relative;
  max-width: 1250px;
  margin: auto;
  & * {
    z-index: 30;
  }
}
.card {
  & > img {
    background-color: #ccc;
  }
}
.domTemplate {
  display: none;
}
details {
  transition: 0.3s;
  overflow: hidden;
  margin-top: -10px;
  padding-bottom: 20px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.details[open] {
  margin-top: 0;
  padding-bottom: 10px;
}
.details-summary {
  display: block;
  padding: 15px;
  transition: 0.3s;
  transform: translateY(10px);
  background-color: #b697ff9a;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  &:hover {
    cursor: pointer;
  }
}
h1 {
  border-bottom: 1px solid;
}
.details-summary::-webkit-details-marker {
  display: none;
}
.details[open] .details-summary {
  transform: translateY(0);
}
.details-content {
  padding: 20px;
  background-color: #ffd7a9a9;
  border-bottom: 2px solid #871cdf;
  border-left: 2px solid #871cdf;
  border-right: 2px solid #871cdf;
}
.bg {
  margin-top: 65px;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background-size: cover;
  background-repeat: repeat-y;
}
#background {
  &Base {
    background-image: url(../../media/index_bgMainNew.png);
    z-index: 20;
  }
  &Shapes {
    &Circle {
      background-image: url(../../media/index_bgShapeCircle.png);
      background-size: 60%;
      background-repeat: repeat;
      z-index: 21;
      animation: shapesAnim ease-in-out alternate both infinite 10s 0ms;
    }
    &Line {
      background-image: url(../../media/index_bgShapeLine.png);
      background-size: 60%;
      background-repeat: repeat;
      z-index: 22;
      animation: shapesAnim ease-in-out alternate-reverse both infinite 12s 0ms;
    }
    &Quadrilateral {
      background-image: url(../../media/index_bgShapeQuadrilateral.png);
      background-size: 60%;
      background-repeat: repeat;
      z-index: 23;
      animation: shapesAnim ease-in-out alternate-reverse both infinite 5s 0s;
    }
    &Triangle {
      background-image: url(../../media/index_bgShapeTriangle.png);
      background-size: 60%;
      background-repeat: repeat;
      z-index: 24;
      animation: shapesAnim ease-in-out alternate both infinite 7s 0s;
    }
  }
}
.logo {
  background-color: #eaaf89a7;
  > img {
    max-height: 600px;
  }
}
.themeandtimetable {
  background-color: #c59ce49b;
}
.text {
  background-color: #ffd7a9a9;
}
#jump2Top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 900;
}
ul {
  display: flex;
  justify-content: center;
}
li {
  list-style: none;
}

li:nth-child(2) {
  margin: 0 10px;

  .main img {
    margin: 50px;
  }
}
button {
  background-color: #ffd7a9a9;
}
.png {
  display: flex;
  justify-content: center;
  & > div {
    height: 400px;
    width: 200px;
    @include sp {
      width: 140px;
    }
    display: flex;
    justify-content: center;
    & > img {
      position: absolute;
      height: 400px;
    }
  }
}
.jumpToTop {
  z-index: 1035;
  position: fixed;
  right: 10px;
  bottom: 10px;
  @include sp {
    width: 120px;
    height: 120px;
    right: 30px;
  }
  & img {
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
    transition-property: filter, transform;
  }
  &::before {
    opacity: 0;
    content: "Go To Top!";
    display: block;
    position: absolute;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
    transition-property: opacity;
    z-index: 1036;
    width: 180px;
    height: 200px;
    line-height: 200px;
    @include sp {
      width: 110px;
      height: 120px;
      line-height: 20px;
      margin-top: 33px;
      font-size: 15px;
      content: "Go To\aTop!";
      white-space: pre;
    }
    text-align: center;
    filter: brightness(0) grayscale(0) invert(63%) sepia(10%) saturate(1285%)
      hue-rotate(241deg) brightness(108%) contrast(81%);
    font-family: "Mochiy Pop One", sans-serif;
    font-size: 17px;
  }
  cursor: pointer;
  &:hover:not(:active) {
    & img {
      filter: brightness(10) grayscale(1);
      transform: rotateY(360deg);
    }
    &::before {
      opacity: 1;
    }
  }
}
